*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing:border-box;
    font-family: Montserrat;
}
.header{
    display:flex;
    position: fixed;
}
.logo{
    display:inline-block;
    margin-left: 2vw;
    margin-top: 1.2vh;
    padding:3vh;
    }
nav{
  display: inline-block;
  padding: 3.5vh 0 0 38vw;
  vertical-align: top;
  cursor:pointer;
  
}
ul{
    display:flex;
    
}   
li{
    display:inline-block;
    margin-right:3vw;
    padding:3vh;
    transition: all 0.3s;
    color:darkgray;
   
}
li:hover{
    font-weight: 900;
    width:40%;
    transform: scale(1.1);
}
main{
    display:inline;
             
}
.palavras{
    color:white;
       
}
h2{
    display:flex;
    position:absolute;
    top:45%;
    font-size: 455%;
    font-weight:bold;
    margin-left: 40px;
    transition: all o.3s;
    cursor:grab;
}
h2:hover{
    transform: scale(1.1);
}
h3{
    display:flex;
    position:absolute;
    top:60%;
    font-weight: lighter;
    margin-left: 40px;
    font-size:22px;
    animation: 3s;
    cursor:cell; 
    
}
h3:hover{
    margin-left:4px;


}
.laranja{
    display: flexbox;
    
}
.fruta{
    width:100%;
    max-height: 70vh;
    object-fit:cover;
    
}
.caixadamain{
    display: flex;
    flex-wrap: wrap;
}
.catalogodeimg{
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    object-fit: cover;
    background-size: 17%;
    justify-content:center;
    gap:2w;
}
.matte{
    width:17%;
    height: 20%;
    margin-left:2%;
    margin-bottom:2%;
       
}
.pao{
    width:17%;
    height: 20%;
    margin-left:1%;
}
.pote{
    width:17%;
    height: 20%;
    margin-left:1%;

}
.cxnopath{
    display:flex;
    flex-wrap: wrap;
    width:17%;
    height: 20%;
    margin-left:2%;
    margin-bottom:2%;
}
.nopath{
    width:17%;
    height:20%;
    gap:2w;
    
}
.caneca{
    width:17%;
    height: 20%;
    margin-left:1%;
}
.desk{
    width:17%;
    height: 20%;
    margin-left:1%;
}
.barrinha{
    width:17%;
    height: 20%;
    margin-left:2%;
}
.cell{
    width:17%;
    height: 20%;
    margin-left:2%;
}
.cafe{
    width:17%;
    height: 20%;
    margin-left:2%;
}
.foto{
    width:17%;
    height: 20%;
    margin-left:2%;
}
.cataopostal{
    width:17%;
    height: 20%;
    margin-left:2%;
}