*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing:border-box;
    font-family: Montserrat;
    text-decoration: none;
}

.h-container{
    width: 100%;
    padding: 2rem 0 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-logo{
    display: none;
}

.h-nav{
    width: 30%;
}

ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}  

li{
    display:flex;
    transition: all 0.3s;
    color:darkgray;
}

li:hover{
    font-weight: 700;
    transform: scale(1.1);
}

.palavras{
    width: 100%;
    padding-inline: 2.5rem;
    min-height: 60vh;
    background-image: url('laranja\ azul.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.palavras h2{
    font-size: 85px;
    color: white;
    line-height: 1.5;
}

.palavras p{
    font-size: 40px;
    font-weight: lighter;
    color: white;
}

.relatoriosimg{
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalogodeimg{
    width: 83.5%;
    height: 100%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.imgdamain{
    width: 24%;
    height: 100%;
    border:double rgb(93, 155, 174);
    transition: all .5s;
    cursor:pointer;
}

.imgdamain:hover{
    border:10px solid rgb(241, 196, 124);
    border-radius:50%;
    -webkit-filter:drop-shadow(10px 5px 1px rgb(68, 174, 158));
    filter:drop-shadow(10px 5px 1px)rgb(68, 174, 158);
    -webkit-transform:rotateZ(-360deg) scale(1.5);
    transform:rotateZ(-360deg) scale(1.5);
}

.redessociais{
    width: 100%;
    padding: 1.5rem 9.5rem;
    background-color: #00000029;
    display: flex;
    align-items: center;
}

.rodape{
    display: flex;
    gap: 0.5rem;
}

.f-txt{ 
    display: flex;
    column-gap: 1rem;
    margin-left: 9.5rem;
}

.f-txt p{
    font-weight: 700;
    font-size: clamp(0.7rem, 1.2vw, 1.5rem);
}

.f-txt h4{
    font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}

.footer-btn{
    display: none;
    padding: 0.3em 1.5em;
    border: 1px solid #707070;
    background-color: #333333;
    color: #CCCCCC;
}

@media (max-width:1035px) {
    .h-nav{
        width: 50%;
    }

    .redessociais{
        padding: 1rem;
        justify-content: space-between;
    }

    .copy{
        margin-left: 2rem;
    }
}

@media (max-width:768px) {
    .h-container{
        padding: 0;
    }

    h1,
    .h-nav{
        display: none;
    }

    .botao-logo{
        display: inline;
        width: 85px;
    }

    .palavras{
        min-height: 40vh;
    }

    .palavras h2{
        max-width: 10ch;
        font-size: 60px;
        line-height: 1;
        margin-block: 10rem 2rem;
    }

    .palavras p{
        font-size: 20px;
    }

    .catalogodeimg{
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    .imgdamain{
        width: 70%;
    }

    .redessociais{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.5rem;
    }

    .rodape{
        width: 100%;
        background-color: #7FDBD4;
        justify-content: center;
        gap: 1rem;
    }

    .contato{
        width: 35px;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .copy{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .f-txt{
        width: 90%;
        margin-left: 0;
        flex-direction: column;
        word-break: break-all;
    }

    .footer-btn{
        display: initial;
    }
}
